<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Slime Volleyball Clone -- Controller</title>
  <style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body, html {
  height: 100%;
  width: 100%;
}
body {
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
div {
  display: flex;
  flex: 1 0 auto;
  height: 100%;
}
button {
  height: 100%;
  width: 100%;
}
  </style>
</head>
<body>
  <div>
    <button id="left">Left</button>
    <button id="right">Right</button>
  </div>
  <div>
    <button id="jump">Jump</button>
  </div>
</body>
</html>
